.idea/

### Visual Studio Code ###
.vscode/*
!.vscode/extensions.json

### Node ###
# Dependency directories
node_modules/

# dotenv environment variables file
.env

# gerate output
build

# mariaDB local files
db/data/

# sessions
sessions/
