.idea/

### Visual Studio Code ###
.vscode/*
!.vscode/extensions.json

### Node ###
# Dependency directories
node_modules/

# dotenv environment variables file
.env

# gerate output
dist

# mariaDB local files
db/data/
